Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cert-err33-c

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
FormatStyle: file
